.text-Primary{
    color: #3f454c !important;
    
}

.bg-Primary{
    background-color: #3f454c !important;
}


.ttext-secondary{
    color:#00afaa !important;
}

.bg-secondary{
    background-color: #00afaa !important;

}
.banner{
    background-image: url(../images/ima.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0px !important;
}

.brand-section{
    background-color: #0e0e0e11 !important;
}





/* Responsive */
@media only screen and (max-width: 768px){
    .middle-banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar-nav{
        padding-bottom: 20px !important;
    }
}